@model IEnumerable<BilkoNavigator_.Models.Herb>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PopularName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatinName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DialectNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aroma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPoisonous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProtected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedPart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benefits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PopularName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatinName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DialectNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aroma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPoisonous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProtected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedPart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benefits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
